<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="container pt-3" style="max-width: 800px;">
        <div class="row align-items-center">
            <a href="{{ url_for('show_index') }}" class="col">
                <img src="{{ url_for('static',filename='images/logo.png') }}" width="200" alt="insta485logo">
            </a>
            <div class="col text-right">
                <a href="{{ url_for('show_explore') }}">explore</a>
                |
                <a href="{{ url_for('show_user', user_url_slug=logname) }}">{{ logname }}</a>
            </div>
        </div>
        <hr>
        <div class = "container p-5">
            <div class="row p-5">
                <img src="{{ url_for('download_file', filename=user_img_url) }}" width="40" alt="{{ logname }}}">
                <h2 class="col">{{ logname }}</h2>
            </div>
            <form action="{{ url_for('exe_acc_post', target=url_for('show_edit')) }}" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <span class="col-sm-2 col-form-label">Photo</span>
                    <div class="col-sm-10">
                        <input type="file" name="file" accept="image/*"/>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-sm-2 col-form-label">Name</span>
                    <div class="col-sm-10">
                        <input type="text" name="fullname" value="{{ fullname }}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-sm-2 col-form-label">Email</span>
                    <div class="col-sm-10">
                        <input type="text" name="email" value="{{ email }}" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-sm-2 col-form-label"></span>
                    <div class="col-sm-10">
                        <input type="submit" name="update" value="submit"/>
                    </div>
                </div>
                <input type="hidden" name="operation" value="edit_account"/>
            </form>
            <div>
                <a href="{{ url_for('show_password') }}">Change password</a>
            </div>
            <div>
                <a href="{{ url_for('show_delete') }}">Delete account</a>
            </div>
        </div>
    </div>
</body>
</html>
